// resets
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi';
}
a {
    text-decoration: none;
}
// flex helpers
.d-flex {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-center {
    align-items: center;
}